// Scores colors
$Reaction-Color : hsl(0, 100%, 67%);
$Memory-Color: hsl(39, 100%, 56%) ;
$Verbal-Color: hsl(166, 100%, 37%);
$Visual-Color: hsl(234, 85%, 45%);
// gradient colors (background) 
$Bg-Gradient-Top-Color : hsl(252, 100%, 67%);
$Bg-Gradient-Bottom-Color : hsl(241, 81%, 54%);
// gradient colors (circles) 
$circle-Gradient-Top-Color : hsla(256, 72%, 46%, 1);
$circle-Gradient-Bottom-Color : hsla(241, 72%, 46%, 0);
// Neutral
$Light-Color: hsl(0, 0%, 100%);
$Shadow-color: hsl(221, 100%, 96%);
$Light-lavender: hsl(241, 100%, 89%);
$Bg-Dark-Color: hsl(224, 30%, 27%);
// Font
$Main-Font-Family: 'Hanken Grotesk', sans-serif ;
$Main-Font-Size: 18px;
$Letter-Spacing: 1px;
$Slim-Font-Weight : 200 ;
$Bold-Font-Weight : 500 ;
$xBold-Font-Weight : 700 ;
$xxBold-Font-Weight : 800 ;
// Borders
$Main-Border-Radius: 30px; 
$Secondary-Border-Radius: 10px; 
// Margins
$Main-Top-Margin : 30px;
$Main-Bottom-Margin : 50px;

